


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: #1B1B1B;
  padding: 0;
  height: 100vh;

  margin-top: -150px;
  
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  height: 100vh;
  
}


#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#hero h1 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 33px;
  font-family: poppins; 
  margin-top: -0px;
  
}

#hero h4 {
  
  
  font-size: 26px;
  color: #E03A3C;
   font-weight: 800;
    margin-top: -5px;
  
}


#hero h3{
  color: white;
}

#hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
  font-size: 20px;
}

#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 1px;
  display: inline-block;
  min-width: 700px;
  
  padding: 17px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: rgb(255, 255, 255);
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  background-color: orange;
  border: 2px solid white;



  
  


  transition: 0s;
}

#hero .btn-get-started:hover {
  
  background-color: rgb(0, 255, 51);
  color: #fff;
  text-decoration: none;
  transition: 0s;
}



@media (max-width: 720px){
  #hero .btn-get-started{
    padding: 15px 15px;
    font-size: 15px;
    min-width: 90%;
    line-height: 20px;
  }
}


@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-width: 768px) {
  #hero {
    
    height: 900px;
    
  }
  
  #hero .carousel-container {
    
    height: 1000px;
    
  }

  #hero h4{
    font-size: 29px;
  }


  #hero h2 {
    font-size: 28px;
  }

  #hero h1{
    font-size: 20px;
  }

  #hero #ytb{
    
      min-width: 0px;
      min-height: 300px;
      max-width: 100%;
     
    }
  
}

#ytb{
  width: 700px; 
  min-height: 400px;
}

